* {
	box-sizing: border-box;
	bottom: 0cap;
}
@font-face {
	font-family: "font1";
	src: url("vertopal.com_Memphis River.ttf");
}
@font-face {
	font-family: "font2";
	src: url("my_font.ttf");
}
@font-face {
	font-family: "font3";
	src: url("Chango-Regular.ttf");
}
body {
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header h1 {
	text-align: center;
	font-size: 180px;
	color: rgb(194, 148, 243);
	font-family: "font2";
}

header {
	padding: 40px;
	background-image: url("./The\ Many\ Lessons\ Crypto\ Can\ Learn\ from\ Fintech.jpeg");
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: xx-large;
}
button {
	display: block;
	margin: auto;
	width: 200px;
	height: 50px;
	background-color: gold;
	color: black;
	border-radius: 20px;
	padding: 10px 20px;
	font-family: font3;
}
form {
	text-align: initial;
}
h1 {
	text-align: center;
	color: rgb(176, 232, 85);
	font-family: "font3";
	font-size: 55px;
}
.square {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 90px;
	font-weight: bold;
	cursor: pointer;
}
.board-row {
	display: flex;
}
nav {
	background-color: #141313;
	overflow: hidden;
	size-adjust: 1px;
}

nav a {
	text-decoration: none;
	padding: 20px;
	text-align: center;
	float: left;
	color: cadetblue;
}
main {
	text-align: center;
}

h2 {
	padding: 20px;
	color: rgb(84, 200, 232);
	font-family: font3;
	font-size: xx-large;
}
h4 {
	padding: 20px;
	color: aliceblue;
	background-color: black;
}
section {
	min-height: 100vh;
}

video {
	padding: 10px;
}

iframe {
	height: 75vh;
}

img {
	padding: 10px;
}

section h5 {
	margin: 40px;
}

footer {
	background-color: #333;
	overflow: hidden;
}

footer a {
	text-decoration: double;
	padding: 2px;
	text-align: center;
	float: left;
	height: 50px;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container {
	position: relative;
	width: 1200px;
	height: 300px;
	margin: 240px auto;
	background: #000;
}
.container .box {
	position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: #000;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}
